@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
:root {
  --font-fam: 'Montserrat', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--font-fam);
  color: #000;
  background-color: #fff;
}

body.no-scroll {
  overflow: hidden;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button, input {
  font-family: var(--font-fam);
}

.container {
  max-width: 1250px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 20px;
}
